{% extends 'base_frontend.html.twig' %}



{% block content %}

        <div class="row">
            <div class="col-md-2 col-md-offset-2">
                <div class="panel-body">
                    <a href="#"><img src="/bundles/icfrontend/images/gestionmarca.png"></a>
                    <a href="#"><p style="margin-left: 30px">Gesti&oacute;n de Marca</p></a>
                </div>
            </div>
            <div class="col-md-2 col-md-offset-2">
                <div class="panel-body">
                    <a href="{{ path('frontend_control') }}"><img src="/bundles/icfrontend/images/gestionrecursos.png"></a>
                    <a href="#"><p style="margin-left: 30px">Gesti&oacute;n de Recursos</p></a>
                </div>
            </div>
            <div class="col-md-2 col-md-offset-2">
                <div class="panel-body">
                    <a href="#"><img src="/bundles/icfrontend/images/gestiondeportiva.png"></a>
                    <a href="#"><p style="margin-left: 30px">Gesti&oacute;n Deportiva</p></a>
                </div>
            </div>

        </div>







    {#<div class="col-xs-6 col-sm-3" align="center">
        </div>#}
{#        <div class="col-md-3 col-md-offset-3" align="center">
            <div class="panel-body ident1">
              <a href="#"><img src="/bundles/icfrontend/images/gestionmarca.png"></a>
              <a href="#"><p style="margin-left: 30px">Gesti&oacute;n de Marca</p></a>

            </div>
        </div>
        <div class="col-md-3 col-md-offset-3" align="center">
                <div class="panel-body ident2">
                    <a href="{{ path('frontend_control') }}"><img src="/bundles/icfrontend/images/gestionrecursos.png"></a>
                    <a href="{{ path('frontend_control') }}"><p style="margin-left: 30px">Gesti&oacute;n de Recursos</p></a>
                </div>
        </div>
        <div class="col-md-3 col-md-offset-3" align="center">
                <div class="panel-body ident3">
                    <a href="#"><img src="/bundles/icfrontend/images/gestiondeportiva.png"></a>
                    <a href="#"><p style="margin-left: 30px">Gesti&oacute;n Deportiva</p></a>
                </div>
        </div>#}
{% endblock %}