{% extends 'base_frontend.html.twig' %}

{% block content %}


    <div class="row">
        <div class="col-md-6" align="center">
                <div class="panel-body">
                    <a href="#"><img src="/bundles/icfrontend/images/money.png"></a>
                    <a href="#"><p style="margin-left: 30px">Control de Ingresos</p></a>
                </div>
        </div>
        <div class="col-md-6" align="center">
                <div class="panel-body">
                    <a href="{{ path('frontend_tipo_solicitud') }}"><img src="/bundles/icfrontend/images/give.png"></a>
                    <a href="{{ path('frontend_tipo_solicitud') }}"><p style="margin-left: 30px">Control de Egresos</p></a>
                </div>
        </div>
    </div>




{% endblock %}